<div class="editor panel">
  <div class="flex header">
    <h4>Editor</h4>
  </div>
  <div class="view">
    <canvas id="editor" class='editor'></canvas>
    <svg id='editor_svg'></svg>
  </div>
</div>
