<div class="tool_selection">

  <div class="entry tooltip">
    <h2 class="icon">&#128270;</h2>
    <div class="tooltip_text leftside">Zoom</div>
  </div>

  <div class="entry tooltip">
    <h2 class="rect green"></h2>
    <div class="tooltip_text leftside">Body Box</div>
  </div>

  <div class="entry tooltip">
    <h2 class="rect blue"></h2>
    <div class="tooltip_text leftside">Hit Box</div>
  </div>

  <div class="entry tooltip">
    <h2 class="rect red"></h2>
    <div class="tooltip_text leftside">Hurt Box</div>
  </div>



</div>
