<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ColliderGenie</title>
    <link href='/client/css/master.css'/ rel='stylesheet'>
    <script type='text/javascript' src='/jquery'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
