{{> menubar}}
<div class="app flex">
  <div class="workspace flex">
    {{> editor}}
    {{> timeline}}
  </div>
  <div class="tools">
    {{> tools}}
    {{> interface}}
  </div>
</div>

<script type="module" src='/client/js/index.js'></script>
